$sideNavWidth: 18%;

mat-drawer-container {
  height: 100vh;
  mat-drawer {
    box-shadow:  0 2px 15px 0 rgba(0, 0, 0, 0.2);
    width: $sideNavWidth;
  }
  mat-drawer-content {
    width: 100% - $sideNavWidth;
  }
}
