html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
  border-right: 1px solid #4a5568;
  background-color: #4a5568;
  &-thumb {
    background-color: #718096;
  }
}
